<div class='page-header'>
  <h1>Assignments</h1>
</div>

<table class='table'>
  <thead>
      <tr>
        <th>Assignment Title</th>
        <%if current_user.admin? %>
          <th>Translations</th>
        <%end%>
        <th>Due Date</th>
        <%if current_user.admin? %>
          <th>See Submissions</th>
        <%else%>
          <th>Work on Assignment</th>
        <%end%>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |assignment| %>
        <tr>
          <td>
            <%= assignment.title %>
          </td>
          <td>
            <%if current_user.admin? %>
              <%Original.where(assignment_id: assignment.id).each do |translation| %>
                  <%= translation.title %>
                  <% if translation.stuff.file != nil %>
                    <%if(MimeMagic.by_magic(File.open(translation.stuff.current_path)).type[0..4] == "image") %>
                      <%= image_tag(translation.stuff)%>  
                    <%elsif(MimeMagic.by_magic(File.open(translation.stuff.current_path)).type == "application/pdf") %>
                      <object data="<%= translation.stuff %>" type="application/pdf" width="700px" height="700px">
                          <embed src="<%= translation.stuff %>"> </embed>
                      </object>
                    <%end%>  
                  <%end%>       
              <%end%>
            <%end%>
          </td>
          <td>
            <%= assignment.due_date %>
          </td>
          <td>
            <%if current_user.admin? %>
              <%= link_to 'View Assignment Submissions', submissions_path %>
            <%else%>
              <%= link_to 'Go to Assignment', assignment_path+"/"+current_user.id.to_s %>
            <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%if current_user.admin? %>
    <h2>Create New Assignment</h2>
    <% @assignment=Assignment.new %>
    <% @assignment.originals.build %>
    <% @assignment.originals.build %>
    <% @assignment.originals.build %>
    <% @assignment.originals.build %>
    <%= form_for(@assignment, :html=>{:class=>"form-horizontal"}) do |f| %>
      <%=f.label :title %>
      <%=f.text_field :title %>

      <%=f.datetime_local_field :due_date %>

      <%= f.fields_for :originals do |original_form| %>
        <%= original_form.hidden_field :assignment_id, value: @assignment.id %>
        <%= original_form.label :originals, 'Translation Title' %>
        <%= original_form.text_field :title %>
        <%= original_form.file_field :stuff %>

        <br>
        <%= original_form.radio_button :language, 'Hebrew to English' %>Hebrew to English
        <br>
        <%= original_form.radio_button :language, 'English to Hebrew' %>English to Hebrew
        <br>
      <%end%>

      <%= f.submit %>
    <%end%>
  <%end%>




