<%= form_for(group) do |f| %>
  <% group.users.each do |student| %>
    <label class='control-label'><%=student.name%></label>
    <%=f.collection_select :group_id, @groups, :id, :title, {:selected => group.id} %>
  <%end%>
  <br>
  <label class='control-label'><%=@originals.where(group_id: group.id).first.title%></label>
  <% @original = @originals.where(group_id: group.id).first %>
  <%= fields_for @original do |o| %>
    <%=o.collection_select :group_id, @groups, :id, :title, {:selected => group.id} %>
  <%end%>
<%end%>