<h1>Edit Groups</h1>
<%= form_tag controller: "groups", action:"update_groups" do %>
<%@groups.each do |group|%>
	<div class='form-group'>
		<% group.users.each do |student| %>
			<%= label_tag student.name, label, class='control-label'%>
			<%= select_tag 'group_id', options_for_select(@groups.collec{ |g| [g.title, g.id]}, :selected => student.group_id) %> 
		<%end%>
		<%= label_tag @originals.where(group_id: group.id).first.title, label, class='control-label'%>
		<%fields_for @originals.where(group_id: group.id).first do |o| %>
			<%= select_tag 'group_id', options_for_select(@groups.collect{ |g| [g.title, g.id]}, :selected => o.group_id) %>
		<%end%>
	</div>
<%end%>