<h1>Edit Groups</h1>
<%= form_tag(update_groups_url, :id => params[:id], :method => 'post') do %>

	<%@groups.each do |group|%>
		<div class='form-group'>
			<% group.users.each do |student| %>
				<%= label_tag student.id, student.name, class: 'control-label'%>
				<%= select_tag 'group_id', options_for_select(@groups.collect{ |g| [g.title, g.id]})%> 
			<%end%>
			<%= label_tag @originals.where(group_id: group.id).first.id, @originals.where(group_id: group.id).first.title, class: 'control-label'%>
			<%= select_tag 'group_id', options_for_select(@groups.collect{ |g| [g.title, g.id]})%>
		</div>
	<%end%>
	<div class='form-group'>
	    <%= submit_tag "Save", class:'btn btn-primary' %>
	</div>
<%end%>

