<%if @students.empty?%>
  <h1>All students have been assigned to a group for this assignment.</h1>
  <%=link_to 'Go to Homepage', assignments_path%>
<%else%>
  <div class='page-header'>
    <h1>Create Groups</h1>
  </div>

  Group <%=Group.where(assignment_id: @assignment.id).count + 1%>
  <%@group = Group.new%>
  <%= form_for(@group) do |f| %>
    <%=f.hidden_field :assignment_id, value: @assignment.id%>
    <% @students.each do |user| %>
      <%= check_box_tag :user_ids,
                         user.id,
                         @group.users.include?(user),
                         name: 'group[user_ids][]' %>
      <%= user.name %>
      <br>
    <% end %>

    <%@originals.each do |original| %>
      <%= radio_button_tag(:original, original.id) %>
      <%= label_tag(:original, original.title) %>
    <%end%>
    <%=f.submit%>
  <%end%>
<%end%>


  