<% if !Submission.where(assignment_id: @assignment.id).empty? %>
  <center>
    <h1>Students have already created submissions for this assignment. You may not edit groups now.</h1>
    <%=link_to 'Go Home', root_path, class: "btn btn-primary"%>
  </center>
<%else%>
  <% if @students.empty?%>
    <center>
      <h1>All students are  assigned a group for this assignment</h1>
        <%=link_to 'Edit Groups', {:controller => "groups", :action => "edit", :id => @assignment.id}, class: "btn btn-primary"%>
        <%=link_to 'Go Home', root_path, class: "btn btn-primary"%>
    </center>
  <%else%>
    <div class='page-header'>
      <h1>Create Groups</h1>
    </div>

    <div class='col-md-6'>
      <div class='col-md-6'>
        <h1 align='left'>Group <%=Group.where(assignment_id: @assignment.id).count + 1%></h1>
        <%@group = Group.new%>
        <%= form_for(@group) do |f| %>
          <%=f.hidden_field :assignment_id, value: @assignment.id%>
          <%=f.hidden_field :title, value: "Group " + (Group.where(assignment_id: @assignment.id).count + 1).to_s%>
          <% @students.each do |user| %>
          <div class="checkbox">
            <%= check_box_tag :user_ids,
                              user.id,
                              @group.users.include?(user),
                              name: 'group[user_ids][]' %>
            <%= user.name %>
          </div>
          <%end%>
      </div>

      <div class='col-md-6'>
        <h1 align='left'>Choose Translation</h1>
        <%@originals.each do |original| %>
          <%= radio_button_tag(:original, original.id) %>
          <%= label_tag(:original, original.title) %>
          <br>
        <%end%>
        <br><br>
        <%=f.submit class:'btn btn-primary'%>
      </div>
      <%end%>
    </div>

    <div class='col-md-6 center'>
      <center>
        <h1 align='center'>Created Groups</h1>
        <%@groups.each do |group| %>
          <% if !group.nil? && !group.originals.first.nil?%>
            <label><%=group.title%> - <%=group.originals.first.title%></label><br>
            <%group.users.each do |s| %>
              <%=s.name%>
              <br>
            <%end%>
          <%end%>
          <br>
        <%end%>
      </center>
    </div>
  <%end%>
<%end%>


  