<!DOCTYPE html>
<html>
  <head>
    <title>HebrewTranslation</title>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="keyboard.js" charset="UTF-8"></script>
	<link rel="stylesheet" type="text/css" href="keyboard.css">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='<%if controller.controller_name == "translations"%>translations <%elsif controller.controller_name == "assignments"%>assignments <%else%> submissions <%end%>'>
	<nav class="navbar navbar-inverse navbar-static-top">
	    <div class="container">
	      <div class="navbar-header">
	        <%= link_to "Hebrew Translation", assignments_path, class:'navbar-brand' %>
	      </div>
	      <% if !current_user.nil? && current_user.admin? %>
	      	<div>
	      		<%= link_to "Assignments", assignments_path, class:'navbar-brand id: assignments-id' %>
	      		<%= link_to "Gradebook", gradebook_url, class:'navbar-brand id: gradebook-id' %>
	      	</div>
	      <%end%>
	      <div id="navbar" class="navbar-collapse collapse">     
      		<ul class="nav navbar-nav navbar-right">
	        	<% if user_signed_in? %>
	        		<li>
	          			<%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
	        		</li>
	        	<% end %>
	      	</ul>
	      </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	<div class = 'container'>
	    <%= yield %>
	</div>
	<footer class="footer">
      <div class="container">
        <p class="text-muted">Please contact <a href='mailto:brandeisapprenticeship@gmail.com'>hmoser@brandeis.edu</a> with any questions</p>
      </div>
    </footer>
  </body>
</html>
